body{
  margin: 0;
  padding: 0;
  background-color: #050505;
  
}

img.logo{
  height:50px;
  width: 50px;
  position: relative;
  left: 20px;
  top: 16px;
}

img.pic {
  height: 200px;
  width: 300px;
}
.header{
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  margin-left: 25px;
  color: #F5F5F7;
  
}

.alt{
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #E0FF00;
}

p{
  font-family: "Nanum Myeongjo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #F5F5F7;
  font-size: 1.5rem;
}

.headline{
  font-family: "Libertinus Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #F5F5F7;
  font-size: 48px;
  margin-left: 25px;
}
.hook{
  font-family: "Libertinus Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #F5F5F7;
  font-size: 24px;
  margin-left: 50px;
}
#avg1 .first{
   float: left;
  padding: 20px;
}

.second{
   float: right;
  padding: 20px;
}

.last{
    float: left;
    padding: 20px;
    padding-bottom: 0%;
}

#avg1{
  height: 245px;
  width: 605px;
  background-color: #2D2D2D;
  margin-left: 50px;
  border-radius: 3%;
  
}

.one{
  padding-top: 20px;
}

#avg2{
  height: 245px;
  width: 605px;
  background-color: #2D2D2D;
  margin-right: 50px;
  border-radius: 3%;
  float: right;
}

.two{
  margin-top: 20px;
  padding-left: 20px;
  padding-bottom: 25px;
}

#avg3{
  height: 275px;
  width: 605px;
  background-color: #2D2D2D;
  margin-left: 50px;
  margin-top: 150px;
  border-radius: 3%;
}

.three{
   padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

#four{
  height: 145px;
  width: 605px;
  background-color: #2D2D2D;
  margin-right: 50px;
  margin-top: 0px;
  border-radius: 3%;
  float: right;
}

.four{
   padding: 20px;
   margin: 0%;
}
hr{
  clear: both;
  padding: 25px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

footer{
  background-color: #1A1A1A;
  color: #F5F5F7;
  height: 15px;
  width: 225px;
  margin-left: 50px;
}

@media(min-width: 319px) and (max-width:680px){
  img.pic {
    height: 150px;
    width: 225px;
    float: left;
  }
  
  #avg1, #avg2, #avg3, #four{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin-top: 20px;
  }
  p{
    font-size: 1rem;
    padding: 20px;
    margin: 0%;
    inline-size: auto;
  }
 
}